<mat-toolbar>
  <mat-form-field appearance="fill">
    <input matInput placeholder="Search transactions, invoices, cards or merchants">
    <mat-icon matPrefix>search</mat-icon>
  </mat-form-field>
  <span class="example-spacer"></span>
  <div class="menu">
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>help</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>notifications</mat-icon>
  </button>
  <small>Jim Wiley</small>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <img src="https://cdn-icons.flaticon.com/png/512/3177/premium/3177440.png?token=exp=1658775809~hmac=7af19420fe7d8679fb60c645dcec5050">
  </button>
  <mat-icon>expand_more</mat-icon>
</div>
</mat-toolbar>
