<div class="summary-container">
  <mat-grid-list cols="1" rowHeight="200px">
    <mat-grid-tile>
      <mat-card>
        <div class="content">
          <h2>Accept Transactions</h2>
          <h1>6</h1>
        </div>
        <div class="content">
          <div><span>New</span> <span>6</span></div>
          <div><span>Disputed</span> <span>0</span></div>
        </div>
      </mat-card>
      <mat-card>
        <div class="content">
          <h2>Invoice Task</h2>
          <h1>4</h1>
        </div>
        <div class="content">
          <div><span>New</span> <span>3</span></div>
          <div><span>Delinquent</span> <span>1</span></div>
        </div>
        <div class="content">
          <div><span>Disputed</span> <span>0</span></div>
          <div><span>Rejected</span> <span>0</span></div>
        </div>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
